<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Document</title>
</head>
<body>
 <center><form action="save" method="get" style="margin-top:100px;">
 <input type="text" name="page" placeholder="Enter Page Name"><br/><br/>
  <input type="text" name="cat" placeholder="Enter category Name"><br/><br/>
 <input type="text" name="sname" placeholder="Enter Section Name"><br/><br/>
 <textarea name="scontent" placeholder="Enter Section Content"></textarea><br/><br/>
 <input type="submit" name="b" value="SAVE" style="width:100px;background:blue;color:white;border-radius:10px;height:30px;"></center>
<%= @a4 %>

 </form>
</body>
