<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Document</title>
</head>
<body>
 <center>
 <form action="update1" method="get" style="margin-top:100px;">
 <input type="hidden" name="sname" value= <%= @a1%> >
 <%= @a1%> <br>
 <textarea rows="20" cols="40" name="scontent"><%= @a2%></textarea><br/><br/>
 <input type="submit" name="b" value="SAVE" style="width:100px;background:blue;color:white;border-radius:10px;height:30px;">
 </form>
 </center>
</body>
</html>